<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/tatry.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-header">Amazing Tatra Mountains</p>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Original Value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After pipe</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ stringVariable }}</td>
    <td>uppercase</td>
    <td>{{ stringVariable | uppercase }}</td>
  </tr>
  <tr>
    <td>{{ stringVariableTwo }}</td>
    <td>lowercase</td>
    <td>{{ stringVariableTwo | lowercase }}</td>
  </tr>
  </tbody>
</table>
